/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inika-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


html {
box-sizing: border-box;
} *, * ::before,* ::after {
    box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inika';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #636060;
}

.wrapper {
    width: 1220px;
    margin: 0 auto;
}



/* heder styles START */



.header {
  background-color: #edf2ec;
  display: flex;
  justify-content: center;
}

.header__container {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.header_wrapper {
  width: 1220px;
  height: 50px;
  padding: 42px 109px 42px 111px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header_item {
  margin-right: 46px;
}
.header_item:last-child {
  margin-right: 0;
}
 .header_link {
  color: #010201;
  width: 16px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
/* 312.5% */
text-decoration: none;
}
.header_logo {

width: 58.128px;
height: 17px;
flex-shrink: 0;
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.header_logo-link{
  display: block;
  width: 79.2px ;
  height: 21px;
  position: relative;
  top: -6px;
}

.header_logo-link img {
  position: absolute;
  top: 0;
  left:0 ;
  width: 100%;
  height: 100%;
}




/* style.css */

.header_link.Home {
color: #E06733;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 312.5% */
}

.header_link:hover, .header_link:focus, .header_link:active {
opacity: .75;}



/* heder styles END */

.main {
  background-color: #edf2ec;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 62px 109px;
}

.main__container {
  width: 1222px;
  height: 407px;
  display: flex;
  justify-content: space-between;
}

.intro {
  width: 549px;
  height: 340px;
  background-color: black;
}

.main__content {
  background-color: #edf2ec;
}

.main__content h1 {
  width: 549px;
  height: 101px;
  color: #717171;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 111.111% */
}

.main__content h1 span {
color: #499a18;
font-family: 'Inter', sans-serif;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 50px;
}

.main__text {
  width: 525.442px;
  flex-shrink: 0;
  color: #636060;
  font-family:Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
}
.learn-more-button {
  padding: 14px 27px 14px 27px;
  box-sizing: border-box;
  width: 158px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  border:2px solid #E06733;
  transition: all 0.3s ease;
}
.learn-more-button:hover{
  transform: scale(0.8);
}

button-text {

display: flex;
width: 104px;
height: 16px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}


.welcome {
  background: #FFF;
  display: flex ;
  justify-content: center;
}

.welcome__container {
 width: 1222px;
 height: 479px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.welcome__content{
  box-sizing: border-box;

}


.intro_title  h3 {
width: 463px;
height: 102px;
color: #499A18;
font-family: 'Inter', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.intro_title span {
  color: #E06733;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

  




.main__text2 {
width: 605px;
padding-top: 20px;
color: #636060;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}




.welcome__img{
  width: 464px;
  height: 479px;
}

.service {

  justify-content: center;
  display: flex;
  padding: 40px 109px 121px 109px;
  gap: 90px;
  background:#EDF2EC;
}

.header-container {
  height: 94px;
  display: flex;
 justify-content: space-between;
 align-items: center;

}

.services_header {
  width: 306px;
  color: #499A18;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.header_list2 {
  
  text-decoration: none;
  justify-content: center;
  display: flex;
  font-size: 20px;
 

}
.header_list2 li {
  display: inline-block;
}

.header__link {
  color: #E06733;
  padding: 12px 40px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #E06733;
  margin: 38px;
}
 
.service_container {
  display: flex;
  width: 1440px;
  padding: 40px 109px 121px 109px;
  flex-direction: column;
  align-items: flex-start;
  gap: 90px;
  }
  .gallery {
    width: 1222px;
    height: 955px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  .item {
    border-radius: 20px 0px;
    text-align: center;
  }
  .custom-heading { 
    color: #E06733;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700; 
    line-height: 20px; /* 100% */
  }
  .custom-paragraph {
    margin-top: 10px;
    color: #717171;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
  .Price {
   
   
  }
  .Price_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1222px;
  height: 405px;

  }
  .Price_box {
    width: 332px;
    height: 391.015px;
  }
  .Price_item {
    width: 332px;
    height: 282.011px;
  }
  .heding_box {
    width: 135px;
    height: 49.002px;
  }
  .heding {
  color: #000;
  width: 135px;
  height: 49.002px;
  font-size: 40px;
  }
  .text_call {
   width: 452px;
    
  }
  .text {
    justify-content: flex-end;
    width: 452px;
    height: 103.004px;
  }
 
  
  .leaff {
    width: 152px;
    height: 174.992px;
  }
.highlight {
color: #499A18;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px;
  }
 h3{
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
 }
 .button {
  border-radius: 5px;
  border: 1px solid #E06733;
}

.button:hover {
  border-radius: 5px;
  border: 1px solid #E06733;
}
.button_href {
  display: flex;
  justify-content: end;
}
.btn_call {
padding: 12px 33.96px 12px 30.04px;
border-radius: 5px;
border: 1px solid #E06733;
color: #E06733;
text-decoration: none;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.subtitle {
  display: flex;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.custom-big-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;

}

.custom-big-checkbox__checkbox {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background: #EDF2EC;
  border-radius: 5px;
  
  background-color: #fff; /* Цвет фона по умолчанию */
}

.custom-big-checkbox input[type="checkbox"]:checked + .custom-big-checkbox__checkbox {
  background-color: #4CAF50; /* Цвет фона при выборе */
}

.labeltext {
margin-right: 50px;
width: 100px;
height: 18px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 100% */
 
}
.leaves_grup {
  display: flex;
  justify-content: end;
  height: 175px;

}
.leaves {
  background-color: blue;
  width: 152px;
  height: 174.992px;


}



.leaf-group {
  display: flex;
  justify-content: space-between;
}


.leaf-group .leaf-1 {
  width: 81.232px;
  height: 60.889px;
  transform: rotate(-143.828deg);
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px);
}
.leaf-group .leaf-4 {
  width: 80.332px;
  height: 61.573px;
  transform: rotate(128.917deg);
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px);
}
.leaf-group .leaf-5 {
  width: 120.926px;
height: 77.012px;
transform: rotate(-163.433deg);
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(2px);
}
.leaf-group .leaf-2 {
  width: 245.308px;
height: 177.835px;
transform: rotate(-7.429deg);
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px);
}
.leaf-group .leaf-3 {
  width: 163.487px;
height: 141.861px;
transform: rotate(-59.526deg);
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(3.5px);
}














