/* inika-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


html {
box-sizing: border-box;
} *, * ::before,* ::after {
    box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inika';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #636060;
}

.wrapper {
    width: 1220px;
    margin: 0 auto;
}



/* heder styles START */



.header {
  background-color: #edf2ec;
  display: flex;
  justify-content: center;
}

.header__container {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.header_wrapper {
  width: 1220px;
  height: 50px;
  padding: 42px 109px 42px 111px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header_item {
  margin-right: 46px;
}
.header_item:last-child {
  margin-right: 0;
}
 .header_link {
  color: #010201;
  width: 16px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
/* 312.5% */
text-decoration: none;
}
.header_logo {

width: 58.128px;
height: 17px;
flex-shrink: 0;
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.header_logo-link{
  display: block;
  width: 79.2px ;
  height: 21px;
  position: relative;
  top: -6px;
}

.header_logo-link img {
  position: absolute;
  top: 0;
  left:0 ;
  width: 100%;
  height: 100%;
}




/* style.css */

.header_link.Home {
color: #E06733;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 312.5% */
}

.header_link:hover, .header_link:focus, .header_link:active {
opacity: .75;}



/* heder styles END */

.main {
  background-color: #edf2ec;
  width: 100%;

  display: flex;
  justify-content: center;
}

.main__container{
 width: 1222px;
 height: 407px;
 padding: 62px 109px;
 display: flex;
 justify-content: space-between;

}

.intro{
  width: 448px ;
  height: 407px;
  background-color: aqua;

}

.main__content{
  width: 449px ;
  height: 340px;
  background-color: blue;
}



.leaf-group {
  display: flex;
  justify-content: space-between;
}


.leaf-group .leaf-1 {
  width: 81.232px;
  height: 60.889px;
  transform: rotate(-143.828deg);
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px);
}
.leaf-group .leaf-4 {
  width: 80.332px;
  height: 61.573px;
  transform: rotate(128.917deg);
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px);
}
.leaf-group .leaf-5 {
  width: 120.926px;
height: 77.012px;
transform: rotate(-163.433deg);
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(2px);
}
.leaf-group .leaf-2 {
  width: 245.308px;
height: 177.835px;
transform: rotate(-7.429deg);
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px);
}
.leaf-group .leaf-3 {
  width: 163.487px;
height: 141.861px;
transform: rotate(-59.526deg);
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(3.5px);
}















